@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/reset-styles';
@import 'base/ui';

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/firstscreen';
@import 'blocks/wprengi';
@import 'blocks/solutions';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/media';
